table{
    width: 1135px;
    height: 300px;
    background-color: white;
    border-spacing: 0px;
    border-radius: 20px;
}

th{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* identical to box height, or 171% */

    font-feature-settings: 'liga' off;

    /* Text/Text - 01 */

    color: #2F3031;
}

h3{
    width: 195px;
    height: 24px;
    margin-bottom: 0px;
    margin-left: 12px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    font-feature-settings: 'liga' off;

    /* Text/Text - 01 */

    color: #2F3031;
}

.Title-text{
    width: 195px;
    height: 32px;
    margin-top: 0px;
    margin-left: 12px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400px;
    font-size: 11px;
    line-height: 16px;
    /* or 133% */

    font-feature-settings: 'liga' off;

    /* Text/Text - 01 */

    color: #2F3031;
}

.Period-text{
    width: 137px;
    height: 16px;
    margin-top: 0px;
    margin-left: 12px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500px;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 133% */

    font-feature-settings: 'liga' off;
}

.Enrolled{
    padding: 8px 16px;
    gap: 8px;

    width: 94px;
    height: 25px;

    background: #F0EFFD;
    border-radius: 8px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Purple */

    color: #793EF5;
}

.header{
    background: #F6F5F9;
}

#Table-title{
    padding: 16px 12px;
    gap: 56px;

    width: 385px;

    border-radius: 20px 0px 0px 0px;
}

#Table-period{
    padding: 16px 12px;
    gap: 56px;

    width: 200px;
    height: 36px;
}

#Table-enrolled{
    padding: 16px 12px;
    gap: 56px;

    width: 160px;
    height: 36px;
}

#Table-qualified{
    padding: 16px 12px;
    gap: 56px;

    width: 250px;
    height: 36px;
}

.Filter-button{
    width: 20px;
    height: 20px;
    margin-left: 30%;
}

.Qualified-graph{
    width: 190px;
    height: 60px;
}

.Icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Table-icon{
    width: 28px;
    height: 28px;
    padding-top: 20px;
    padding-right: 10px;
}