.Sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 34px 20px;
    gap: 34px;

    position: absolute;
    width: 190px;
    height: 950px;
    left: 16px;
    top: 16px;

    background: #FFFFFF;
    box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Sidebar-menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px;
    gap: 10px;

    width: 189px;
    height: 370px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Sidebar-logo{
    width: 160px;
    height: 32px;
    align-self: center;
    padding-bottom: 25px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Sidebar-dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 189px;
    height: 48px;

    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

p{
    width: 86px;
    height: 24px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;

    /* Dark */

    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Sidebar-icon{
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Sidebar-apprenterships{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 189px;
    height: 48px;

    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Sidebar-internships{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 189px;
    height: 48px;

    background: rgba(102, 95, 239, 0.2);
    /* Purple */

    border: 1px solid #793EF5;
    border-radius: 16px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.Sidebar-jobs{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 189px;
    height: 48px;

    border-radius: 16px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.Sidebar-settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 189px;
    height: 48px;

    border-radius: 16px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.Sidebar-account{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 152px;
    height: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Sidebar-account > p{
    width: 92px;
    height: 24px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;

    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Account-profile{
    width: 50px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}